*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Helvetica, sans-serif ;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}
.rightnav{
    display: flex;
    gap: 12px;
    align-items: center;

}

.links, a{
    display: flex;
    list-style-type: none;
    gap: 20px;

    text-decoration: none ;
    color: black;
}
.navbutton{
    padding: 10px;
    background-color: transparent;
    border: 8px;
    border-radius: 10px;
}

main{
    padding: 20px;
}

.headbutton{
    margin:10px ;
    padding:20px ;
}